{% set user = app.user %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NowRace.pl</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/template/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/template/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/template/dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/template/plugins/iCheck/flat/blue.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="/template/plugins/morris/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="/template/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="/template/plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/template/plugins/daterangepicker/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="/template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

  <link rel="stylesheet" href="{{ asset('build/global.css') }}">

  {% block stylesheet %}
  {% endblock %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <style>
        .alert{
            position: fixed;
            top: 53px;
            z-index: 100000;
            width: 27%;
            right: 0;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
{% include ':default:flash.html.twig' %}
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="{{ path('homepage') }}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>NR</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>NowRace.pl</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="hidden-xs nr-top-menu-user">
                {{ user.fullName }}
                <i class="fa fa-gears"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header nr-top-menu-user-header">
                <p>
                  {{ user.fullName }} - {{ user.roleName }}
                  <small>W NowRace.pl od: {{ user.createdAt | date("d/m/Y") }}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ path("profile_switcher") }}" class="btn btn-default btn-flat">Mój profil</a>
                </div>
                <div class="pull-right">
                  <a href="{{ path('security_logout') }}" class="btn btn-default btn-flat">Wyloguj</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left info">
          <p>{{ user.email }}</p>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN MENU</li>
        {% if not is_granted("ROLE_ADMIN") %}
        <li class="{% block dashboardClassMenu %}{% endblock %}">
          <a href="{{ path('homepage') }}">
            <i class="fa fa-home"></i> <span>Dashboard</span>
          </a>
        </li>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
          <li class="{% block userClassMenu %}{% endblock %}">
            <a href="{{ path('user_index') }}">
              <i class="fa fa-user"></i> <span>Użytkownicy</span>
            </a>
          </li>
        {% endif %}
        <li class="treeview {% block contestClassMenu %}{% endblock %}">
          <a href="#">
              <i class="fa fa-flag-checkered"></i> <span>Zawody</span>
              <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li class="{% block myContestsClassMenu %}{% endblock %}"><a href="{{ path('contests_switcher') }}"><i class="fa fa-circle-o"></i>{{ is_granted("ROLE_ADMIN") ? 'Wszystkie zawody' : 'Moje zawody' }}</a></li>
              <li class="{% block activeContestsClassMenu %}{% endblock %}"><a href="{{ path('active_contests') }}"><i class="fa fa-circle-o"></i> Nadchodzące</a></li>
              <li class="{% block endedContestsClassMenu %}{% endblock %}"><a href="{{ path('ended_contests') }}"><i class="fa fa-circle-o"></i> Zakończone</a></li>
          </ul>
        </li>
        {% if is_granted("ROLE_RUNNER") %}
          <li class="{% block statisticClassMenu %}{% endblock %}">
            <a href="{{ path('runner_statistics') }}">
              <i class="fa fa-line-chart"></i> <span>Statystyki</span>
            </a>
          </li>
        {% endif %}
        {% if not is_granted("ROLE_ADMIN") %}
        <li class="{% block profileClassMenu %}{% endblock %}">
            <a href="{{ path('profile_switcher') }}">
              <i class="fa fa-user"></i> <span>Mój profil</span>
            </a>
        </li>
        {% endif %}
        <li class="">
            <a href="{{ path('security_logout') }}">
                <i class="fa fa-arrow-left"></i> <span>Wyloguj</span>
            </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        NowRace.pl <small>{{ pageName|default('') }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> NowRace.pl</a></li>
        <li class="active">{{ pageName|default('') }}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% block main %}
        {% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">

  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/template/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/template/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/template/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/template/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="/template/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/template/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/template/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/template/dist/js/demo.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
