{% extends(":default:inside_index.html.twig") %}
{% set pageName = "Moje zawody - dodawanie wyścigu" %}
{% set pageHeader = "Dodawanie wyścigu" %}
{% set submitBtn = "Dodaj wyścig" %}
{% block contestClassMenu %}active{% endblock %}
{% block myContestsClassMenu %}active{% endblock %}
{% block main %}
    {{ parent() }}
    {{ form_start(form) }}
    <div class="row add-contests-page">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ pageHeader }}</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.name, {'label': "Nazwa wyścigu" }) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_row(form.startTime, {'label': "Czas startu" }) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_row(form.distance, {'label': "Dystans w kilometrach" }) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_row(form.maxRunners, {'label': "Maksymalna liczba zawodników" }) }}
                        </div>
                        <div class="col-sm-4 nr_edit_race_category">
                            {{ form_row(form.categories, {'label': "Kategorie zawodników"}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Trasa</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="map" style="width: 100%; height: 500px;">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right">{{ submitBtn }}</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form.route) }}
    {{ form_end(form) }}
{% endblock %}
{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDVaGUTL1zg51-uT-Csnu-zafTAjR4xJOo" type="text/javascript"></script>
    <script src="{{ asset('template/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('template/plugins/select2/i18n/pl.js') }}"></script>
    <script>
        $(document).ready(function() {
            var tagurl = '{{ path('racecategory_index_json') }}';
            $("#edit_race_categories").select2({
                tags: true,
                ajax: {
                    url: tagurl,
                    processResults: function (data, page) {
                        return {
                            results: data
                        };
                    }
                }
            });
        } );
    </script>
    <script>
        var adress = "{{ race.contest.adress }}";
        $(document).ready(function () {
            var geokoder = new google.maps.Geocoder();
            geokoder.geocode({address: adress}, geocodingAction);
        });

        function geocodingAction(res, status)
        {
            if(status === google.maps.GeocoderStatus.OK){
                mapStart(res[0].geometry.location);
            }else {
                console.log("nie mogę zlokalizować tego adresu:(");
            }
        }

        var map;
        var markers = [];
        var route;

        function mapStart(cords_from_address)
        {
            var map_options = {
                zoom: 10,
                center: cords_from_address,
                disableDefaultUI: true
            };
            map = new google.maps.Map(document.getElementById("map"), map_options);

            route = new google.maps.Polyline({
                map: 			map,
                path: 			getCordsFromMarkers(),
                strokeColor:	'#ff0000',
                strokeWeight:	3,
                editable: false
            });

            google.maps.event.addListener(map,'click',function(event)
            {
                if(event.latLng)
                {
                    addMarker(event.latLng);
                }
            });
        }

        function addMarker(latlng)
        {
            var icon_url = markers.length === 0 ? '{{ asset('img/flag_icon.ico') }}' : '{{ asset('img/finish_flag_icon.ico') }}';

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                draggable: true,
                icon: {
                    url: icon_url,
                    size: new google.maps.Size(30, 30),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(0, 30),
                    scaledSize: new google.maps.Size(30, 30)
                }
            });

            google.maps.event.addListener(marker,'click',function()
            {
                marker.setMap(null);
                markers.splice(markers.indexOf(marker), 1);
                drawRoute();
                updateMarkersIcons();
            });

            google.maps.event.addListener(marker,'drag',function()
            {
                drawRoute();
            });

            markers.push(marker);
            drawRoute();
            updateMarkersIcons();
        }

        function drawRoute(){
            route.setPath(getCordsFromMarkers());
            saveRoute();
        }

        function getCordsFromMarkers(){
            return markers.map(getCordsFromMarker);
        }

        function getCordsFromMarker(item){
            return {lat: item.getPosition().lat(), lng: item.getPosition().lng()};
        }

        function updateMarkersIcons(){
            for(var i = 0; i < markers.length; i++){
                var icon_url = i === 0
                             ? '{{ asset('img/flag_icon.ico') }}'
                             : i === markers.length -1
                                ? '{{ asset('img/finish_flag_icon.ico') }}'
                                : '{{ asset('img/blue_flag_icon.ico') }}';

                var icon = {
                    url: icon_url,
                    size: new google.maps.Size(30, 30),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(0, 30),
                    scaledSize: new google.maps.Size(30, 30)
                };

                markers[i].setIcon(icon);
            }
        }

        function saveRoute(){
            $("#edit_race_route").val(JSON.stringify(getCordsFromMarkers()));
        }
    </script>
{% endblock %}
{% block stylesheet %}
    <link href="{{ asset('template/plugins/select2/select2.min.css') }}" rel="stylesheet" />
{% endblock %}