{% extends(":default:inside_index.html.twig") %}
{% set pageName = "Moje zawody" %}
{% block contestClassMenu %}active{% endblock %}
{% block myContestsClassMenu %}active{% endblock %}
{% block main %}
    {{ parent() }}
    <div class="row company-contests-page">
        {% if contests | length > 0 %}
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            Moje zawody
                            {% if is_granted("ROLE_COMPANY") %}
                                <a href="{{ path('contest_add') }}" type="button" class="pull-right btn btn-primary btn-sm">+ Dodaj nowe zawody</a>
                            {% endif %}
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Adres</th>
                                <th>Rozpoczęcie</th>
                                <th>Zakończenie</th>
                                <th>Wyścigi</th>
                                {% if is_granted("ROLE_COMPANY") %}
                                    <th>Akcje</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Nazwa</th>
                                <th>Adres</th>
                                <th>Rozpoczęcie</th>
                                <th>Zakończenie</th>
                                <th>Wyścigi</th>
                                {% if is_granted("ROLE_COMPANY") %}
                                    <th>Akcje</th>
                                {% endif %}
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for contest in contests %}
                                <tr class='clickable-row' data-href='{{ path('contest_show', {'id': contest.id} ) }}'>                                    <td>{{ contest.name }}</td>
                                    <td>{{ contest.adress }}</td>
                                    <td>{{ contest.startTime | date("d/m/Y H:i") }}</td>
                                    <td>{{ contest.endTime | date("d/m/Y H:i") }}</td>
                                    <td>{{ contest.races | length }}</td>
                                    {% if is_granted("ROLE_COMPANY") %}
                                    <td>
                                        <a href="{{ path('contest_show', {'id': contest.id} ) }}">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ path('contest_edit', {'id': contest.id}) }}">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ path('contest_delete', {'id': contest.id}) }}">
                                            <i class="fa fa-remove" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        {% else %}
            <div class="col-xs-12">
                <div class="nr-empty-block">
                    <h4>Nie zapisałeś się jeszcze na żadne zawody<br>przejrzyj listę dostępnych zawodów i zapisz się!</h4>
                    <p>
                        <a href="{{ path('active_contests') }}" type="button" class="btn btn-success btn-flat btn-lg">Lista aktualnych zawodów</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                "language": {
                    "url": "/template/plugins/datatables/Polish.json"
                }
                {% if is_granted("ROLE_COMPANY") %}
                ,"columnDefs": [
                    {
                        "targets": [ 5 ],
                        "orderable": false,
                        "searchable": false
                    }
                ]
                {% endif %}
            } );
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        } );
    </script>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/template/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}