{% extends(":default:inside_index.html.twig") %}
{% set pageName = "Mój profil" %}
{% block profileClassMenu %}active{% endblock %}
{% block main %}
    {{ parent() }}
    <div class="row profile-page">
        <div class="col-xs-12 col-sm-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Mój profil</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Nazwa</td>
                                <td>{{ user.company.name }}</td>
                            </tr>
                            <tr>
                                <td>Miasto</td>
                                <td>{{ user.company.city }}</td>
                            </tr>
                            <tr>
                                <td>NIP</td>
                                <td>{{ user.company.nip }}</td>
                            </tr>
                            <tr>
                                <td>Kod pocztowy</td>
                                <td>{{ user.company.postCode }}</td>
                            <tr>
                                <td>Adres</td>
                                <td>{{ user.company.street }}</td>
                            </tr>
                            <tr>
                                <td>Numer telefonu</td>
                                <td>{{ user.company.phone }}</td>
                            </tr>
                            <tr>
                                <td>Kraj</td>
                                <td>{{ user.company.country }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edycja</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {{ form_start(form) }}
                    <div class="box-body">
                        {{ form_row(form.name, {'label': "Nazwa" }) }}
                        {{ form_row(form.city, {'label': "Miasto" }) }}
                        {{ form_row(form.nip, {'label': "Nip" }) }}
                        {{ form_row(form.postCode, {'label': "Kod pocztowy" }) }}
                        {{ form_row(form.street, {'label': "Ulica" }) }}
                        {{ form_row(form.phone, {'label': "Telefon" }) }}
                        {{ form_row(form.country, {'label': "Kraj" }) }}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Zapisz zmiany</button>
                    </div>
                    <!-- /.box-footer -->
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    </script>
{% endblock %}