{% extends 'base.html.twig' %}

{% block body %}
    <h1>Racerunner</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ raceRunner.id }}</td>
            </tr>
            <tr>
                <th>Startnumber</th>
                <td>{{ raceRunner.startNumber }}</td>
            </tr>
            <tr>
                <th>Finishplace</th>
                <td>{{ raceRunner.finishPlace }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if raceRunner.startTime %}{{ raceRunner.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if raceRunner.endTime %}{{ raceRunner.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('racerunner_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('racerunner_edit', { 'id': raceRunner.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
