{% extends ':default:login_base.html.twig' %}
{% block body %}
    <div class="login-page">
        <div class="form">
            <h3>Nowe hasło</h3>
            {{ form_start(form, {'attr': {'class': 'login-form', 'novalidate': 'novalidate'}}) }}
            {{ form_row(form.plainPassword) }}
            <button type="submit">Zmień hasło</button>
            <p class="message">Nie masz konta?<br>
                <a href="{{ path('register-runner') }}">Zajestruj się jako zawodnik</a><br>
                <a href="{{ path('register-company') }}">Zajestruj się jako organizator</a>
            </p>
            <p class="message">Jednak pamiętasz hasło?
                <a href="{{ path('security_login') }}">Zaloguj się</a>
            </p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
